/* VARIABLES */
:root {
    --bg-color: #f0f0f0;
    --dark-grey: #e6e6e6;
}

/* GLOBAL STYLES */
.red {
    background-color: #e6563b;
}
.yellow {
    background-color: #eb9d3a;
}
.green {
    background-color: #7cb06c;
}
.blue {
    background-color: #00aba9;
}
body {
    font-family: "Abel", sans-serif;
    background-color: var(--bg-color);
}

.anton {
    font-family: "Anton", sans-serif;
}

section.container, main.container {
    margin: 20px 0;
}

/* HEADER STYLING */
nav {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    text-align: center;
    margin-top: -15px;
}

.logo-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 105px;
    width: 105px;
}

nav img {
    max-height: 50%;
    max-width: 50%;
}

nav h2 {
    /* font-size: 2.5rem; */
    font-weight: bold;
}

nav p {
    /* font-size: 20px; */
}

.logo-name-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: -15px;
}

.nav-elements {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    align-items: center;
    padding: 12px 0 10px 0;
}


/* HERO SCENE STYLING */
section.hero-scene {
    /* max-width: 75vw; */
}

section.hero-scene.hero-scene-row-wrapper {
    flex: 0 1 75%;
}

.hero-scene-wrapper {
    justify-content: space-between;
    row-gap: 40px;
}

.hero-scene {
    padding: 20px;
    gap: 40px;
}

.hero-text {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    row-gap: 20px;
}

h1, h2 {
    justify-content: center;
    align-content: center;
    text-align: center;
    font-size: 45px;
    font-weight: bold;
}

h2 {
    font-size: 30px;
}


.fake-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
}

.hero-images    {
    display: flex;
}

.hero-img-wrapper {
    justify-content: center;
    align-self: center;
    text-align: center;
    margin: 20px;
    padding: 20px;
    color: white;

}

.hero-images {
    display: flex;
    border: 9px solid #fff;
    justify-content: center;
    align-self: center;
    border-radius: 999999px;
    width: 100px;
    height: 100px;
}

/* MAIN STYLING */

main.container.grow.main-content-columns {
    border-top: 5px solid black;
    padding: 40px;
}

.main-column {
    flex: 2;
    align-items: center;
    justify-content: space-between;
    row-gap: 40px;
}

.column-title-wrapper {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.image-group {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.large-img-wrapper {
    height: 100%;
    width: 100%;
    border: 8px solid var(--dark-grey);
}

.large-img-footer-wrapper {
    display: flex;
    justify-content: space-between;
}

.sm-icons {
    display: flex;

}

.images-wrapper {
    display: flex;
    align-items: center;
}

.title {
    justify-content: center;
    align-content: center;
    text-align: center;
}

.images-wrapper {
    display: flex;
    flex: 1 0 auto;
    width: 55px;
}

.container.content {
    display: flex;
    flex-direction: column;
    flex: 0 1 auto;
}

.sm-icons-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 999999px;
    width: 18px;
    height: 18px;
}

.secondary-column  {
    flex: 1;
    row-gap: 40px;
}

.articles-wrapper {
    display: flex;
    column-gap: 20px;
}

.article-photo-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.article-photo-wrapper img {
    max-height: 100%;
    max-width: 100%;
    border: 3px solid var(--dark-grey);
    border-radius: 10px;
}

.article-text-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}