/* VARIABLES */
:root {
    --bg-color: #f0f0f0;
    --dark-grey: #e6e6e6;
}

/* GLOBAL STYLES */
.red {
    background-color: #e6563b;
}
.yellow {
    background-color: #eb9d3a;
}
.green {
    background-color: #7cb06c;
}
.blue {
    background-color: #00aba9;
}
body {
    font-family: "Abel", sans-serif;
    background-color: var(--bg-color);
}

.anton {
    font-family: "Anton", sans-serif;
}


.page-wrapper {
    row-gap: 40px;
}

section, main {
    max-width: 75vw;
    width: 100%;
    align-self: center;
    margin: 20px 0;
}

/* HEADER STYLING */


nav {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    text-align: center;
    margin-top: -15px;
}

.logo-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 105px;
    width: 105px;
}

nav img {
    max-height: 50%;
    max-width: 50%;
}

nav h2 {
    font-weight: bold;
}

.logo-name-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: -15px;
}

.nav-elements {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    align-items: center;
    padding: 12px 0 10px 0;
}


/* HERO SCENE STYLING */

section.hero-scene.hero-scene-row-wrapper {
    flex: 0 1 75%;
    padding: 40px;
}

.hero-scene-wrapper {
    justify-content: space-between;
    row-gap: 40px;
}

.hero-text {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    row-gap: 20px;
}

h1, h2 {
    justify-content: center;
    align-content: center;
    text-align: center;
    font-size: 45px;
    font-weight: bold;
}

h2 {
    font-size: 30px;
}


.fake-icons {
    display: flex;

    justify-content: center;
    align-items: center;
    column-gap: 20px;
}

.hero-images    {
    display: flex;
}

.hero-img-wrapper {
    justify-content: center;
    align-self: center;
    text-align: center;
    margin: 20px;
    padding: 20px;
    color: white;
}

.hero-images {
    display: flex;
    border: 9px solid #fff;
    justify-content: center;
    align-self: center;
    border-radius: 999999px;
    width: 100px;
    height: 100px;
}

/* MAIN STYLING */

main {
    max-width: 80vw;
}

.main-content-row-wrapper {
    border-top: 1px solid #C8C9CA;
    column-gap: 5%;
    padding-top: 20px;
}

.main-column {
    flex: 2;
    align-items: center;
    justify-content: space-between;
    row-gap: 15px;
}

.column-title-wrapper {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.image-group {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.large-img-wrapper {
    height: 100%;
    width: 100%;
    border: 8px solid var(--dark-grey);
}

.large-img-footer-wrapper {
    display: flex;
    justify-content: space-between;
}

.sm-icons {
    display: flex;
    max-width: 100%;
    justify-content: space-between;
    column-gap: 10px;
    font-family: "Anton", sans-serif;
}

.title {
    justify-content: center;
    align-content: center;
    text-align: center;
}

.images-wrapper {
    display: flex;
    flex: 1 0 auto;
    width: 55px;
}

.container.content {
    display: flex;
    flex-direction: column;
    flex: 0 1 auto;
}

.sm-icons-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 999999px;
    width: 18px;
    height: 18px;
}

.secondary-column  {
    flex: 1;
    row-gap: 15px;
}

.articles-wrapper {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    justify-content: start;
    row-gap: 20px;
}

.article-wrapper {
    display: flex;
    column-gap: 20px;
}

.article-wrapper:last-of-type {
    display: flex;
    flex-direction: column;
}

.article-photo-wrapper {
    display: flex;
    object-fit: cover;
}

.article-photo-wrapper img {
    height: 80px;
    width: 100%;
    object-fit: cover;
    border: 3px solid var(--dark-grey);
    border-radius: 10px;
}

.article-text-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: "Anton", sans-serif;
}
.fa-solid.fa-bars{
    display: none;
}
/* large screens */
@media screen and (max-width: 992px) {
    /***********  CONTAINERS SHOULD TAKE UP MORE OF THE VW  ***********/
    main {
        max-width: 90vw;
    }
}

/* medium screens */
@media screen and (max-width: 768px) {
    main {
        max-width: 100vw;
    }
    .nav-elements{
        display: none;
    }
    .company-name{
        display: none;
    }
    .fa-solid.fa-bars{
        display: flex;
        justify-content: center;
        align-self:center;
        padding: 5px;

    }
    .icon-wrapper{
        height:30px;
        width:35px;
        border-radius: 5px;
        border:2px solid var(--dark-grey);
        justify-content: center;
        align-content: end;
        position: absolute;
        right:25px;
    }
    nav{
        justify-content: space-between;
    }
    .secondary-column{
        display: none;
    }

}

/* extra-small and small screens */
@media screen and (max-width: 576px) {
    main {
        max-width: 100vw;
        flex:0 1 auto;

    }
    .nav-elements{
        display: none;
    }
    .company-name{
        display: none;
    }
    .fa-solid.fa-bars{
        display: flex;
        justify-content: center;
        align-self:center;
        padding: 5px;

    }
    .icon-wrapper{
        height:30px;
        width:35px;
        border-radius: 5px;
        border:2px solid var(--dark-grey);
        justify-content: center;
        align-content: end;
        position: absolute;
        right:25px;
    }

    nav{
        justify-content: space-between;
    }
    .hero-text{
        display: flex;
        flex: 0 1 auto;
        justify-content: center;
        align-content: center;
    }
    .row.grow.hero-scene-row-wrapper{
        justify-content: center;
        align-items: center;
    }
    .fake-icons{
        justify-content: center;
        align-self: center;
        display: flex;
        flex-wrap: wrap;
        max-width: 320px;
    }

    .secondary-column{
        display: none;
    }
    .main-content-row-wrapper{
        border:unset;
    }
    .image-group{
        flex-direction:column;
    }

}

