:root{
    --bg-color: #f0f0f0;
}

body{
    background-color: var(--bg-color);
}
img{
    max-width: 105px;
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    text-align: center;
}
.logo-wrapper{
    display: flex;
    margin-right: 20px;
    justify-content: center;
    align-self: center;
    text-align: center;
    gap: 20px;

}
h2{
    padding-top: 10px;
}
.nav-elements{
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    align-self: center;
    padding-bottom: 20px;
}
h1, h3{
    justify-content: center;
    align-content: center;
    text-align: center;
    font-size: 45px;
    font-weight: bolder;
}
h3{
    font-size: 35px;
}
.hero-scene{
    /*display: flex;*/
    /*flex-direction: row;*/
    gap: 20px;
}
.fake-icon{
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    align-self: end;


}
.hero-img-wrapper{
    justify-content: center;
    align-self: center;
    text-align: center;
    margin:20px;
    padding: 20px;
    color: white;

}
.hero-images {
    display: flex;
    border: 9px solid #fff;
    justify-content: center;
    align-self: center;
    border-radius: 999999px;
    width: 100px;
    height: 100px;
}
.red{

    background-color: #e6563b;

}
.yellow{
    background-color: #eb9d3a;
}
.green{
    background-color: #7cb06c;

}
.blue{
    background-color: #00aba9;
}
.hero-scene{
   border-bottom: 1px solid #e6e6e6;
    padding-bottom:50px;
    margin-bottom: 20px;
}
.images-wrapper{
    display:flex;

}
.title{
    justify-content: center;
    align-content: center;
    text-align: center;
}
.image-group{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: center;
    gap:20px;

}
.images-wrapper{
    display: flex;
    flex:1 0 auto;
    width:55px;

}
.container.content{
    display: flex;
    flex-direction: column;
    flex:0 1 auto;

}